#layout {
    
    position: absolute;
    top: 32px;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);

    .top-buttons {

        position: absolute;
        right: -2px;
        top: 0;
        border-left: 1px solid #ddd;
        border-right: 1px solid #fefefe;

        .top-button {

            display: inline-block;
            height: 100px;
            width: 100px;
            vertical-align: top;
            margin-left: 10px;
            text-align: center;
            font-size: 0.9em;
            position: relative;
            margin-left: 0;
            border-left: 1px solid #fefefe;
            border-right: 1px solid #ddd;

            &:hover {
                background-color: rgba(255,255,255,0.5);
            }

            a {
                background-size: 50px;
                background-position: center 15px;
                background-repeat: no-repeat;
                color: #333;
                text-decoration: none;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                padding-top: 70px;
            }
            a.add-new-list-button {
                background-image: url("../img/add-new-list.png");
            }
            a.add-new-list-item-button {
                background-image: url("../img/add-new.png");
            }
            a.share-list-button {
                background-image: url("../img/share-list.png");
            }

        }

    }

}
#content {

    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    @include background(#eee linear-gradient(to  bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100px));

    h1 {
        color: #777;
        font-weight: normal;
        text-shadow: -1px -1px 0 rgba(255,255,255,0.7);
        background: transparent url("../img/logo.png") no-repeat top left;
        padding-left: 80px;
        margin: 5px 0 0 5px;
        line-height: 44px;
        height: 50px;
    }

}