#header {

    height: 52px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #333;
    @include background(linear-gradient(to bottom, #555 0%, #333 100%));
    position: relative;
    z-index: 5;

    .button.my-account {
        
        position: relative;
        
        a {
            
            position: relative;
            padding-left: 55px;
            
            img.avatar {
                height: 32px;
                width: 32px;
                vertical-align: middle;
                position: absolute;
                top: 8px;
                left: 10px;
                box-shadow: 0 1px 3px 1px rgba(0,0,0,0.5);
                border: 1px solid #111;
                border-radius: 3px;
            }

        }

    }
    .left-buttons {
        position: absolute;
        top: 0;
        left: 0;
    }
    .right-buttons {
        position: absolute;
        top: 0;
        right: 0;
        right: 0;
    }
    ul {

        list-style-type: none;
        margin: 0;
        padding: 0;
        border-right: 1px solid rgba(255,255,255,0.1);
        border-left: 1px solid rgba(0,0,0,0.5);

        li {

            display: inline-block;

            a {

                border-left: 1px solid rgba(255,255,255,0.1);
                border-right: 1px solid rgba(0,0,0,0.5);
                display: inline-block;
                color: #eee;
                line-height: 50px;
                padding: 0 20px;
                font-size: 0.9em;
                text-decoration: none;
                text-shadow: -1px -1px 0 rgba(0,0,0,0.8);

                &:hover {
                    @include background(#81b2cb linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 50px));
                    color: rgba(255,255,255,0.9);
                }

            }

        }

    }

}