*,
*:after,
*:before {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
button {
    outline: none;
}
body {
    background: #999;
    margin: 0;
    padding: 0;
}
#main {
    margin: 0 auto;
    width: 920px;
}
li {
    cursor: default;
}
div#small-screen-overlay {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    z-index: 100000;
    color: #eee;

    .message-container {
        margin: 0 auto;
        max-width: 300px;
        text-align: center;
        font-size: 1.4em;
    }

}