@import "views/dialog-container.scss";
@import "views/dialog.scss";
@import "views/dialog-add-new.scss";
@import "views/all-lists.scss";
@import "views/calendar.scss";

.drag-view {

    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 0.8em;
    line-height: 35px;
    opacity: 0.75;
    overflow: hidden;
    padding: 0 10px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;

}