#dashboard {
    
    div.dashboard-flexi {

        position: absolute;
        top: 100px;
        left: 0;
        bottom: 0;
        right: 0;

        .flexi-content {
            box-shadow: 0 1px 3px rgba(0,0,0,0.3);
            border-radius: 3px;
        }

    }

}