.dialog {

    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
    margin: 200px auto 0;
    padding: 20px 20px 60px;
    position: relative;
    width: 400px;

    &.wide {
        width: 650px;
    }
    label {
        display: block;
        margin-bottom: 10px;
    }

    p {
        margin-top: 0;
    }

    .dialog-title {
        position: absolute;
        top: -40px;
        line-height: 30px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.8em;
        left: 0px;
        @include background(#222 linear-gradient(to bottom,rgba(255,255,255,.2) 0,rgba(255,255,255,0) 50px));
        border-top: 1px solid #333;
        border-left: 1px solid #333;
        border-right: 1px solid #111;
        right: 0;
        padding: 5px 20px;
        border-radius: 4px 4px 0 0;
        text-align: center;
        color: #eee;
        border-bottom: 3px solid #ddd;
    }

    .dialog-section {

        margin-bottom: 20px;
        position: relative;

        input[type=text], input[type=email], input[type=password], select, textarea, .input {
            border: 1px solid #ccc;
            border-radius: 2px;
            box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
            line-height: 20px;
            margin: 0;
            padding: 6px 10px;
            width: 100%;
        }

        .input {

            padding: 0 4px;
            display: inline-block;
            width: auto;

            input[type=text] {
                background: transparent;
                border: none;
                box-shadow: none;
                font-family: monospace;
                outline: none;
                padding: 0;
                text-align: center;
                width: 25px;
            }
            input.date-year {
                width: 45px;
            }
            &.date-input {

                .date-picker {
                    top: 60px;
                    z-index: 100;
                    left: 0;
                }
                
            }

        }

        input.full-width, select.full-width, textarea.full-width {
            width: 100%;
        }

        textarea.tall {
            height: 200px;
        }
        .rating-stars {

            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 250px;
            display: inline-block;
            vertical-align: middle;

            li {

                cursor: pointer;
                display: inline-block;
                height: 50px;
                width: 50px;
                background-image: url(../img/feedback-star-inactive.png);
                background-size: 32px;
                background-repeat: no-repeat;
                background-position: center;

                &.active {
                    background-image: url(../img/feedback-star-active.png);
                }

            }

        }
        .rating-value {
            display: inline-block;
            line-height: 30px;
            padding: 10px 30px;
            vertical-align: middle;
            color: #aaa;
            font-style: italic;
        }
        .instructions {
            font-size: 0.75em;
            color: #aaa;
            margin-left: 10px;
        }

        &.error-section {
            color: #a21;
        }

        &.button-section {

            left: 0;
            right: 0;
            position: absolute;
            background-color: #eee;
            border-top: 1px solid #ddd;
            padding: 15px;
            border-radius: 0 0 4px 4px;
            text-align: right;
            margin-bottom: 0px;

            .loading {
                position: absolute;
                background: transparent url('../img/loading-ff.gif') no-repeat center;
                width: 32px;
                height: 35px;
            }
            .create-account-link {

                position: absolute;
                left: 20px;
                top: 15px;
                line-height: 20px;
                font-size: 0.9em;
                text-align: left;

                .short-message {
                    font-size: 0.8em;
                    display: block;
                    line-height: 1;
                }
                a {
                    
                    color: #059;
                    font-weight: bold;

                    &:hover {
                        color: #333;
                    }

                }

            }
            button {

                @include background(#ddd linear-gradient(to bottom, rgba(255,255,255,0.5) 0px, rgba(255,255,255,0) 50px));
                border: 1px solid #ccc;
                border-radius: 2px;
                box-shadow: inset 1px 1px 0 rgba(255,255,255,0.4), inset -1px -1px 0 rgba(255,255,255,0.2);
                color: #555;
                cursor: pointer;
                font-weight: 400;
                height: 34px;
                margin-left: 10px;
                padding: 0 15px;
                text-align: right;
                text-shadow: 1px 1px 0 rgba(255,255,255,.3);
                font-size: 1em;
                line-height: 26px;

                &:hover {
                    @include background(#e5e5e5 linear-gradient(to bottom, rgba(255,255,255,0.5) 0px, rgba(255,255,255,0) 50px));
                }

            }

            .call-to-action {

                @include background(#2299dd linear-gradient(to bottom, rgba(255,255,255,0.2) 0px, rgba(255,255,255,0) 50px));
                border: 1px solid #2288dd;
                box-shadow: inset 1px 1px 0 rgba(255,255,255,0.2), inset -1px -1px 0 rgba(255,255,255,0.1);
                color: #fff;
                text-shadow: -1px -1px 0 rgba(0,0,0,0.5);

                &:hover {
                    @include background(#2299dd linear-gradient(to bottom, rgba(255,255,255,0.4) 0px, rgba(255,255,255,0.2) 50px));
                }
            }

        }

    }

}