#sidebar {

    background: #333 linear-gradient(to right, rgba(0,0,0,0.25) 0px, rgba(0,0,0,0) 5px);
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;

    .sidebar-item {

        height: 100px;
        position: relative;
        text-align: center;

        a {

            border-bottom: 1px solid #222;
            border-top: 1px solid #444;
            bottom: 0;
            color: #999;
            font-size: 0.9em;
            left: 0;
            line-height: 20px;
            padding-top: 65px;
            position: absolute;
            right: 0;
            top: 0;
            text-decoration: none;

            &:hover {
                color: #eee;
            }

        }

    }

    .sidebar-item:first-of-type {

        a {
            border-top: none;
        }

    }


    .sidebar-submenu {

        border-bottom: 1px solid #222;

        .sidebar-item a {
            background-color: #17b;
            color: rgba(255,255,255,0.5);
            border-bottom: 1px solid rgba(0,0,0,0.15);
            border-top: 1px solid rgba(255,255,255,0.2);

            &:hover {
                color: #fff;
            }

        }

    }

    .icon-add {
        background-image: url("/assets/img/inactive-plus-24.png");
    }
    .icon-add:hover {
        background-image: url("/assets/img/plus-24.png");
    }

    .icon-lists {
        background-image: url("/assets/img/inactive-menu-24.png");
    }
    .icon-lists:hover {
        background-image: url("/assets/img/menu-24.png");
    }

    .icon-calendar {
        background-image: url("/assets/img/inactive-time-24.png");
    }
    .icon-calendar:hover {
        background-image: url("/assets/img/time-24.png");
    }

    .icon-today {
        background-image: url("/assets/img/inactive-checkround-24.png");
    }
    .icon-today:hover {
        background-image: url("/assets/img/checkround-24.png");
    }

    .sidebar-button {
        background-position: center 25px;
        background-repeat: no-repeat;
        background-size: 32px;
    }

}
#main-sidebar {
    border-bottom: 1px solid #444;
}